html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    height: 100%;
    background: linear-gradient(140deg,#778899,white,#778899);
    margin: 0;
}
#container {margin-top: 80px;}
#viewer {
    height: 400px;
    width: 614px;
    /* margin-top: 80px; */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    }
#viewer > * {
    float: left;
}
.arrow {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 20px;
    display: inline-flex;
}

.arrow img {
    vertical-align: middle
}

.arrow :hover {
    opacity: 0.5;
}

#contain-photo {
    position: relative;
    height: 400px;
}

#photo {
    height: 400px;
     }

#photo img {
    width: 100%;
    }

.text {
    height: 90px;
    width: 100%;
    background: black;
    opacity: 0.6;
    bottom: 0px; 
    left: 0px;  
    position: absolute;
}

#photo-title {
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0px;
}

#photo-description {
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 11px;
    line-height: 1;
    margin-left: 5px;
    margin-top: 0;
    padding: 0;
}

.thumbnail {
    border: 1px solid #ddd; 
    border-radius: 4px;
    padding: 5px; 
    width: 80px;
}

.thumbnail img {
    height: 100%;
    width: 100%;
}

.thumbnail:hover{
    width: 150px;
    margin: 0px;
    border: 5px solid white;
    border-radius: 5px;
  }

#TNcontainer {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.highlight {
    border: 5px solid white;
    border-radius: 5px;
    margin: 1px;
    padding: 10px;
    position: absolute;
    top: 0px;
    bottom: 5px;
    width: 60px;
    height: 40px;
}

.hidden-title {
	visibility: hidden;
	position: absolute;
	top: -45px;
	left: -45px;
	font-size: 12px;
	font-family: 'Baloo Bhaina 2', cursive;
	color: white;
	background-color: slategrey;
	width: 200px;
	text-align: center;
	border-radius: 3px;
    padding: 3px;
}
